@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .navbar-button{
        display: flex;
        justify-content: center;
        align-items: center;
        transition:ease-in-out all 0.3s;
        cursor: pointer;
        border-radius: 30px;
        padding: 0.6rem;
        gap: 0.3rem;
    }

    .navbar-button:hover{
        background-color: #e5e5e5;
    }


    .home-tabs {
        flex-basis: 50%;
        text-align: center;
        width: 100%;
        height: 2.7rem;
        justify-content: center;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: ease-in-out all 0.2s;
        padding-bottom: 0.5rem;

    }

    .home-tabs:hover{
        background-color: #e5e5e5;
    }


    .test {
        background: transparent;
        border-radius: 10px;
        height: 5px;
        box-shadow: 0 1.5rem 0 0 #3583c4;
    }
}


